@import '../../assets/styles/mixin.scss';

.Services {
    background: #e9e9e9;
    padding: 3rem 0 5rem;
    margin-bottom: 4rem;
    .ServicesContainer {
        display: flex;
        padding-top: 2rem;
        .ServiceItem {
            background: $theme-black;
            background-size: cover;
            background-position: center;
            color: $theme-white;
            margin-right: 1rem;
            &:last-child { margin-right: 0}
            padding: 3rem 3rem;
            text-align: center;
            svg {
                width: 35px;
                stroke: $theme-color;
            }
            p {
                font-weight: $light;
            }
        }
    }
}