@import '../../assets/styles/mixin.scss';

.Services {
    background: $theme-grey;
    padding: 3rem 0 5rem;
    @include media($laptop) {
        padding: 2rem 1rem 4rem;
    }
    @include media($tablet) {
        padding: 2rem 1rem;
    }
    @include media($mobile) {
        padding: 4rem 5px 0;
    }
    .ServicesContainer {
        display: flex;
        padding-top: 2rem;
        .ServiceItem {
            background: $theme-black;
            background-size: cover;
            background-position: center;
            color: $theme-white;
            margin-right: 1rem;
            &:last-child { margin-right: 0}
            text-align: center;
            position: relative;
            &:hover {
                .Bg {
                    background-color: transparentize($color: $theme-black, $amount: 0.05);
                }
            }
            .Bg {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background-color: transparentize($color: $theme-black, $amount: .15);
                z-index: 1;
                @include transition;
            }
            .Content {
                position: relative;
                display: block;
                z-index: 2;
                color: $theme-color;
                padding: 3rem;
                svg {
                    width: 35px;
                    stroke: $theme-color;
                }
                p {
                    font-weight: $light;
                }
            }
        }
        @include media($tablet) {
            padding: 2rem 0;
            .ServiceItem {
                margin-right: .5rem;
                padding: 2rem 1rem;
                p {
                    margin-bottom: 0;
                }
            }
        }
        @include media($mobile) {
            flex-wrap: wrap;
            .ServiceItem {
                width: 100%;
                margin-right: 0;
                margin-bottom: 10px;
                padding: 2rem;
            }
        }
    }
}