@import '../../../assets/styles/mixin.scss';

.StatFigure {
    text-align: center;
    padding: 0 2rem;
    h3 {
        color: $theme-color;
        font-family: $heading-font;
        font-size: 50px;
        margin: 0;
    }
    h5 {
        margin: 5px 0;
        font-size: 14px;
    }
    @include media($mobile) {
        width: 50%;
        margin-bottom: 1rem;
    }
}