@import '../../../assets/styles/mixin.scss';
.ProjectSlideContainer {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    .SlideContent {
        display: flex;
        height: 100%;
        .Slide {
            height: 100%;
            // very important, this replaces width
            flex: 0 0 100%;
            display: flex;
            justify-content: center;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            .Caption {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                width: 100%;
                max-width: 1024px;
                height: 100%;
                div {
                    h6 {
                        color: $theme-color;
                        text-transform: uppercase;
                        margin: 0;
                        font-size: 20px;
                        @include media($tablet){
                            font-size: 18px;
                        }
                    }
                    h1 {
                        text-transform: uppercase;
                        color: $theme-white;
                        font-size: 60px;
                        margin: 0;
                        @include media($laptop) {
                            font-size: 45px;
                        }
                        @include media($tablet){
                            font-size: 30px;
                        }
                    }
                    p {
                        width: 700px;
                        color: $theme-white;
                        font-weight: $semi-bold;
                        font-size: 18px;
                        text-shadow: 1px 1px 13px #000000;
                        @include media($laptop) {
                            width: 500px;
                        }
                    }
                }
                @include media($laptop) {
                    width: 70%;
                }
                @include media($mobile) {
                    width: 80%;
                    align-items: flex-start;
                    padding-top: 14rem;
                    div {
                        width: 100%;
                        h6 {
                            width: 100%;
                        }
                        h1 {
                            width: 100%;
                        }
                        p {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .PrevBtn, .NextBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        font-weight: bold;
        background: rgba(255, 255, 255, 0.664);
        transition: all 300ms ease;
        cursor: pointer;
        &:hover {
            background:$theme-color;
        }
        svg {
            width: 25px;
        }
        @include media($mobile) {
            display: none;
        }
    }

    .PrevBtn {
        left: 0;
    }
    .NextBtn {
        right: 0;
    }

    .CallToAction {
        position: absolute;
        bottom: 200px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1024px;
        a {
            display: inline-block;
            border: 1px solid $theme-color;
            padding: 10px 30px;
            color: $theme-white;
            margin-right: 1rem;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: $semi-bold;
            transition: all 300ms ease-in-out;
            &:hover {
                background: $theme-color;
            }
            &:first-child {
                background: $theme-color;
            }
        }
        @include media($laptop) {
            width: 70%;
        }
        @include media($mobile) {
            width: 80%;
            bottom: 180px;
            a {
                width: 50%;
                margin-bottom: 10px;
            }
        }
    }

    .NumberOfSlides {
        position: absolute;
        background: #fff;
        top: 0;
        right: 0;
        padding: 10px 30px;
        display: none;
    }

    .Dots {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        width: 100%;
        height: 150px;
        justify-content: center;
        align-items: center;
        .Dot {
            margin: 0 2px;
            height: 5px;
            width: 40px;
            background: rgba(0, 0, 0, 0.616);
            cursor: pointer;
            transition: all 500ms ease;
            border: 1px solid $theme-color;
            &.Active {
                background: $theme-color;
            }
        }
        &:hover {
            .Dot {
                height: 15px;
            }
        }
    }
}