@import '../../assets/styles/mixin.scss';
.BlogPage {

.Blogs {
    max-width: 1220px;
    margin: 0 auto;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
    .Blog {
        width: 33.33%;
        padding: 10px 5px;
        padding-bottom: 1rem;
        .FeatureImg {
            width: 100%;
            background-size: cover;
            height: 250px;
        }
        .PostBody {
            padding: 1rem .5rem 0;
            margin: 0;
            h2 {
                margin: 0;
                padding: 0;
                font-size: 18px;
            }
            .MetaData {
                color: $theme-color;
                ul {
                    margin: 8px 0 0 0;
                    padding: 0;
                    list-style-type: none;
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    font-size: 15px;
                    li {
                        display: inline-flex;
                        align-items: center;
                        justify-content: left;
                        svg {
                            width: 20px;
                            margin-right: 5px;
                        }
                    }
                }
            }
            .Excerpt {
                p { margin: 10px 0 0 0; font-weight: $medium;}
            }
        }
    }
    @include media($tablet) {
        .Blog {
            width: 50%;
        }
    }
    @include media($mobile) {
        padding: 0;
        .Blog {
            width: 100%;
            padding: 5px 5px 5px;
            position: relative;
            margin-bottom: 3rem;
            .PostBody {
                padding: 1rem 1rem 10px;
            }
            &::after {
                display: block;
                content: '';
                position: absolute;
                height: 2px;
                width: 30%;
                background: $theme-color;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }

        }
    }
}


}