@import '../../assets/styles/mixin.scss';
.ContactFormContainer {
    h2 {
        margin: 0;
        margin-bottom: 1rem;
    }
    .DeliveryMsg {
        padding: 0 20px;
        border: 1px solid $theme-grey;
        background-color: $theme-color;
        margin-bottom: 1rem;
        p {
            font-weight: $bold;
        }
    }
    .DeliveryError {
        border: 1px solid $theme-warning;
        background-color: $theme-warning;
    }
    .ContactForm {
        width: 100%;
        .FormGroupTwo {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-bottom: 5px;
            .FormGroupItem {
                width: 48%;
                input {
                    width: 100%;
                    padding: 10px;
                }
            }
            @include media($tablet) {
                flex-wrap: wrap;
                .FormGroupItem {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
        .FormGroup {
            textarea {
                padding: 10px;
                width: 100%;
                height: 200px;
                resize: none;
            }
            margin-bottom: 1rem;
        }
        input, textarea {
            outline: none;
            font-family: inherit;
            font-size: 16px;
            border: 1px solid transparentize($color: $theme-black, $amount: .7);
        }
        .ErrorMsg {
            font-size: 14px;
            padding-left: 10px;
            color: $theme-warning;
            min-height: 20px;
        }
        .Error {
            border: 1px solid $theme-warning;
        }
        .NoError { border: 1px solid transparentize($color: $theme-black, $amount: .7); }
        
        button {
            border: none;
            background-color: $theme-color;
            display: inline-block;
            padding: 10px 40px;
            font-size: 16px;
            letter-spacing: 2px;
            color: $theme-black;
            cursor: pointer;
            outline: none;
        }
    }
}