@import '../../assets/styles/mixin.scss';

.ServicesWidget {
    padding: 0 1rem 2rem 1rem;
    margin-bottom: 2rem;
    position: relative;
    h3 {
        margin: 0 0 1rem 0;
    }
    ul.ServiceList {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            .Active {
                color: $theme-color;
            }
        }
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 20%;
        transform: translateX(-20%);
        height: 1px;
        width: 70%;
        background-color: $theme-color;
    }
}