@import '../../../assets/styles/mixin.scss';

.Services {
    display: flex;
    margin-top: 3rem;
    @include media($tablet) {
        flex-wrap: wrap;
    }
    .Lead {
        width: 50%;
        background: $theme-black;
        color: $theme-grey;
        padding: 5rem;
        div {
            border: $theme-color 2px solid;
            padding: 2rem 3rem;
            text-align: center;
            p {
                font-weight: $light;
            }
        }
        @include media($tablet) {
            width: 100%;
            div {
                max-width: 600px;
                margin: 0 auto;
            }
        }
        @include media($mobile) {
            padding: 2rem;
            div {
                padding: 1rem;
            }
        }
    }
    .ServicesList {
        width: 50%;
        background-color: $theme-grey;
        padding: 3rem;
        display: flex;
        align-items: center;
        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            li {
                width: 33.33%;
                display: flex;
                padding: 1rem;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                svg {
                    display: block;
                    width: 30px;
                    stroke: $theme-color;
                    margin-bottom: 10px;
                }
                span {
                    display: block;
                    width: 100%;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                }
            }
            @include media($mobile) {
                flex-wrap: wrap;
                li {
                    width: 50%;
                }
            }
        }
        @include media($tablet) {
            width: 100%;
        }
        @include media($mobile) {
            padding: 0 1rem 2rem 1rem;
        }
    }
}