@import '../../../assets/styles/mixin.scss';
.Blog {
    width: 100%;
    text-align: left;
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }
    .Layout {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        padding: 1rem 0 4rem;
        display: flex;
        main {
            width: 70%;
            padding-right: 4rem;
        }
        aside {
            width: 30%;
        }
        @include media($laptop){
            padding: 1rem 1rem 4rem;
            main {
                padding-right: 2rem;
            }
        }
        @include media($tablet) {
            aside {
                width: 35%;
            }
            main {
                width: 65%;
                padding-right: 1.5rem;
            }
        }
        @include media($mobile) {
            flex-wrap: wrap;
            padding: 1rem 1rem;
            aside {
                width: 100%;
            }
            main {
                width: 100%;
                padding: 0;
            };
        }

    }
    footer {
        text-align: center;
        padding: 1rem 1rem 2rem;
        a {
            display: inline-block;
            padding: .5rem 2rem;
            border: 1px solid;
            text-decoration: none;
            transition: all 500ms ease;
            &:hover {
                background: rgb(2, 102, 168);
                color: #fff;
            }
        }
    }
}