@import '../../assets/styles/mixin.scss';
.Stats {
    margin-bottom: 10rem;
    padding-top: 5rem;
    .Row {
        display: flex;
        justify-content: space-between;
        .Content {
            width: 60%;
            padding-right: 2rem;
            padding-bottom: 2rem;
            h2 {
                font-size: 36px;
            }
            .StatsContainer {
                display: flex;
                justify-content: space-between;
                padding-top: 1rem;
                div {
                    h3 {
                        color: $theme-color;
                        font-family: $heading-font;
                        font-size: 50px;
                        margin: 0;
                    }
                    h5 {
                        margin: 5px 0;
                        font-size: 14px;
                    }
                }
            }
        }
        .Experience {
            width: 25%;
            .ContentContainer {
                position: relative;
                width: 100%;
                height: 100%;
                .Background {
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-size: cover;
                    background-position: center;
                }
                .Content {
                    position: absolute;
                    top: 15px;
                    bottom: 15px;
                    right: 15px;
                    left: 15px;
                    width: auto;
                    z-index: 2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    flex-direction: column;
                    padding: 1rem;
                    background: rgba(255, 255, 255, 0.897);
                    h2 {
                        margin: 0;
                        font-size: 100px;
                        font-weight: $semi-bold;
                        color: $theme-color;
                    }
                    h5 {
                        margin: 0;
                        font-size: 16px;
                        line-height: 30px;
                        padding: 0 3rem;
                        text-transform: uppercase;
                        color: $theme-black
                    }
                }



            }
        }
    }
}