@import '../../assets/styles/mixin.scss';
.Stats {
    padding: 5rem 0; 
    background: $theme-grey;
    @include media($laptop) {
        padding: 4rem 1rem;
    }
    .Row {
        display: flex;
        justify-content: space-between;
        .Content {
            width: 60%;
            padding-bottom: 2rem;
            h2 {
                font-size: 36px;
                text-align: center;
            }
            .StatsContainer {
                display: flex;
                justify-content: space-between;
                padding-top: 1rem;
            }
        }
        .Experience {
            width: 30%;
        }
        @include media($laptop) {
            .Content {
                h2 {
                    @include media($laptop) {
                        font-size: 30px;
                    }
                }
            }
            .Experience {
                width: 35%;
                height: 400px;
            }
        }
        @include media($tablet) {
            flex-wrap: wrap;
            justify-content: center;
            .Content {
                width: 100%;
                padding-bottom: 2rem;
                .StatsContainer {
                    padding: 0;
                }
            }
            .Experience {
                width: 100%;
                height: auto;
                min-height: 250px;
            }
        }
        @include media($mobile) {
            .Content {
                padding-bottom: 1rem;
                .StatsContainer {
                    flex-wrap: wrap;
                }
            }
        }
        
    }
}