@import '../../assets/styles/mixin.scss';

.Nav {
    padding: .8rem 2rem;
    position: fixed;
    top: 33px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    @include transition;
    @include media($tablet) {
        display: none;
    }
    .NavContent {
        display: flex;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 10;
        .Logo {
            margin: 0;
            padding: 0;
            color: $theme-color;
        }
        .NavItems {
            display: flex;
            align-items: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
            color: $theme-white;
            font-size: 13px;
            .Item {
                padding: 0 1rem;
                
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                }
                .Active {
                    color: $theme-color;
                }
            }
        }
        .QuoteBtn {
            font-size: 13px;
            color: $theme-white;
            display: inline-block;
            font-weight: $semi-bold;
            border: $theme-color 1px solid;
            padding: 8px 30px;
            @include transition;
            &:hover {
                background: $theme-color;
            }
        }
    }
    &.Active {
        background: rgba(0, 0, 0, 0.904);
        top: 0;
    }
}